<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Review</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Posts</a></h1>
  </header>

  <main class="col-auto">
    {{#if posts.length}}
    {{#each posts as |post|}}
        {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}"><button class="edit-button">Edit post</button></a>
        </div>
    {{/each}}

{{else}}
<h4>You currently do not have any posts</h4>

{{/if}}
  </main>

  <footer class="footer flex-row justify-center">
    <a href="/dashboard/new">New Post</a>
  </footer>
</body>

<script src="js/logout.js"></script>
</html>